@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

$main-color: #0d6efd;

body {
  height: 100vh;
  * {
    font-family: 'Roboto', sans-serif;
  }
}

.page {
  height: 100%;
  background-color: rgba(244, 248, 230, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.login-page {
  background-image: url('../assets/img/login-bg.svg');
}
.signup-page {
  background-image: url('../assets/img/signup-bg.svg');
}
.page-not-found {
  background-image: url('../assets/img/page-not-found.svg');
}

.main-color {
  color: $main-color !important;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff !important;
  background-color: $main-color;
  border-color: #fff !important;
}
.channel-button {
  width: 100% !important;
  display: flex;
  margin-left: 10px;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  position: absolute;
  width: 100%;
  a.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: $main-color;
    transform: skewX(-20deg);
    &:hover {
      color: $main-color;
      transition: all 0.1s ease-in-out;
      transform: scale(1.01) translateY(-1px);
    }
    &:visited {
      color: $main-color;
    }
  }
}

.settings-tray {
  padding: 0 15px;
}

.pt-50px {
  padding-top: 70px;
}
.chat-content,
.channels-list {
  height: calc(100% - 140px);
}

textarea.form-control {
  resize: none;
}
