@import '~bootstrap/scss/bootstrap';

$main-color: #0d6efd;

body {
  height: 100vh;
}

.page {
  height: 100%;
  background-image: url('../assets/img/chat-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.login-page {
  background-image: url('../assets/img/login-bg.svg');
}
.signup-page {
  background-image: url('../assets/img/signup-bg.svg');
}
.page-not-found {
  background-image: url('../assets/img/page-not-found.svg');
}
.hexlet-chat-logo {
  width: 200px;
  &:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.01) translateY(-1px);
  }
}

.main-color {
  color: $main-color !important;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff !important;
  background-color: $main-color;
  border-color: #fff !important;
}
.channel-button {
  width: 100% !important;
  display: flex;
  margin-left: 10px;
  justify-content: flex-start;
  align-items: center;
}

//!

.main-link {
  color: #fff !important;
  border: $main-color 1px solid !important;
  background-color: $main-color !important;
  padding: 0.375rem 0.75rem !important;
  &:hover {
    color: $main-color !important;
    background-color: transparent !important;
  }
}
.navbar {
  position: absolute;
  width: 100%;
}

.settings-tray {
  padding: 10px 15px;
  border-radius: 7px;
}
.bg-gray {
  background-color: rgba(69, 167, 189, 0.5);
}

.channel-item {
  border: 1px solid $main-color !important;
  color: $main-color !important;
  border-radius: 7px;
}
.pt-50px {
  padding-top: 55px;
}
.chat-content,
.channels-list {
  height: calc(100% - 150px);
}
