@import '~bootstrap/scss/bootstrap';

$main-color: #a652b5;

body {
  height: 100vh;
}

input {
  &.form-control {
    &:focus {
      border-color: none;
      outline: 0;
      box-shadow: 0 0 0 0.1rem $main-color;
    }
  }
}
.page {
  height: 100%;
  background-image: url('../assets/img/chat-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.login-page {
  background-image: url('../assets/img/login-bg.svg');
}
.signup-page {
  background-image: url('../assets/img/signup-bg.svg');
}
.page-not-found {
  background-image: url('../assets/img/page-not-found.svg');
}
.hexlet-chat-logo {
  width: 200px;
  &:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.01) translateY(-1px);
  }
}

.main-color {
  color: $main-color !important;
}
.main-button {
  color: $main-color !important;
  border: 1px solid $main-color !important;
}
.main-button:hover,
.custom-channel-button:hover {
  background-color: $main-color !important;
  color: #fff !important;
}
.main-button:hover *,
.custom-channel-button:hover * {
  background-color: $main-color !important;
  color: #fff !important;
}
.custom-channel-button,
.custom-channel-button * {
  border: none !important;
  color: $main-color !important;
}
.main-link {
  color: #fff !important;
  border: $main-color 1px solid !important;
  background-color: #a652b5 !important;
  padding: 0.375rem 0.75rem !important;
  &:hover {
    color: $main-color !important;
    background-color: transparent !important;
  }
}
.navbar {
  position: absolute;
  width: 100%;
}
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.settings-tray {
  padding: 10px 15px;
  border-radius: 7px;
}
.bg-gray {
  background-color: rgba(230, 224, 224, 0.6);
}

.round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff !important;
  background-color: $main-color;
}
.channel-item {
  border: 1px solid $main-color !important;
  color: $main-color !important;
  border-radius: 7px;
}
.pt-50px {
  padding-top: 55px;
}
.chat-content {
  height: calc(100% - 150px);
}
